.intitle {
    text-align: center;
    position: relative;
}

.intitle h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 14px;
    color: #303036;
    position: relative;
    z-index: 1;
}

.intitle b {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: #e7edfc;
    z-index: 0;
    top: -15px;
    left: 50%;
    transform: translate(-50%, 0);
}

.intitle p {
    font-size: 16px;
    color: #999;
    position: relative;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
}

.page-header-center {
    text-align: center;
}

.thumbnail-height {
    height: 300px;
    text-align: center;
}

.thumbnail-height > div > a > img {
    height: 120px;
    width: 130px;
}

.thumbnail-height a:focus, .thumbnail-height a:hover {
    text-decoration: none;
}

.f_line {
    margin: 0 2px;
}

.footer {
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px;
    background: #282725;
    color: #dadada;
}

.footer li {
    font-size: 12px;
    font-family: 微软雅黑, Tahoma, sans-serif;
}

.footer, .footer a {
    color: #777
}


/*底部图标*/
.acc-footer-icon {
    position: relative;
    display: inline-block;
}

/*隐藏图标内容*/
.acc-footer-icon .acc-footer-icontext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* 定位 */
    position: absolute;
    z-index: 1;
    top: -120px;
    right: -34px;
}

/*显示图标内容*/
.acc-footer-icon:hover .acc-footer-icontext {
    visibility: visible;
}

.acc-qq a:hover {
    color: gold;
}

.acc-wx a:hover {
    color: #8ee154;
}

.media-body > h4 {
    width: 96%;
}

.media-body > span {
    display: block;
    width: 96%;
    height: 80px;
    overflow: hidden;
}

.nucss-lb {
    display: inline;
    max-width: none;
    margin-bottom: 0;
    font-weight: 400;
}

